@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root{
    --corFundo: #112b37;
    --corTitulos: #5ce1e6;
    --corFundo02: #1a4052;
    --corTextos: #e0e0e0;
    --fontTextos: "Kanit", sans-serif;
    --fontTitulos: "Oswald", sans-serif;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}


/*navbar e navegação*/
.navbar{
    background-color: var(--corFundo);
    color: var(--corTitulos);
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: space-between;
    height: 60px;
    width: 100%;
}

.navbar h2{
    font-family: var(--fontTextos);
    text-shadow: 3px 3px 10px black;
    color: var(--corTitulos);
}

.navigation ul a{
   text-decoration: none;
   font-family: var(--fontTextos);
   color: var(--corTitulos);
   margin-left: 30px;
}

.navigation ul a:hover{
    text-decoration: underline;
}

/*corpo do site*/

.principal{
    display: flex;
    flex-direction: column;
}
/*container incial*/
#container-inicial{
    background-color: var(--corFundo02);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    gap: 320px;
    padding-left: 100px;

}

#container-inicial .textos{
    width: 600px;
    display: flex;
    flex-direction: column;
    
}

.textos .apresentacao{
    font-family: var(--fontTextos);
    font-size: 24px;
    color: var(--corTextos);
}

.textos h1{
    font-family: var(--fontTitulos);
    font-size: 6rem;
    font-weight: bold;
    color: var(--corTitulos);
    
}

.textos p{
    color: var(--corTextos);
    font-family: var(--fontTextos);
    width: 800px
}

#container-inicial img{
    width: 400px;
    height: auto;
    border-radius: 50%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }

    100%{
        top: 30px;
    }
}

#container-inicial .btn{
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

.btn a{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 4px solid var(--corTitulos);
    color: var(--corTitulos);
    text-decoration: none;
    font-family: var(--fontTextos);
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    padding-top: 6px;
    transition: 0.5s all;
}

.btn a:hover{
    background-color: var(--corTitulos);
    color: var(--corFundo02);
}

/*conatiner das tecnologias*/

#container-tecnologias{
    background-color: var(--corFundo);
    padding: 30px 0px 40px 0px;
}

#container-tecnologias h1{
    text-align: center;
    font-family: var(--fontTextos);
    color: var(--corTitulos);
    font-size: 41px;
    letter-spacing: 2px;
}

#container-tecnologias .sessao-tecnologias{
    background-color: var(--corFundo);
    display: grid;
    gap: 50px;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 300px ;
    justify-content: center;
    align-items: center;
}

#container-tecnologias .card{
    width: 190px;
    height: 190px;
    border: 5px solid var(--corTitulos);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card img{
    width: 80px;
    height: auto;
}

.card h3{
    font-family: var(--fontTextos);
    color: var(--corTitulos);
}


/*container dos projetos*/

#container-projetos{
    background-color: var(--corFundo02);
    padding: 30px 0px 40px 0px;
}

#container-projetos .sessao-projetos{
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px 0px 40px 0px;
    margin-left: 90px;
}

#container-projetos h1{
    text-align: center;
    font-family: var(--fontTextos);
    color: var(--corTitulos);
    font-size: 41px;
    letter-spacing: 2px;
}

.sessao-projetos .projeto{
    width: 480px;
    height: 400px;
    box-shadow: 1px 13px 13px #0711169c;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    background-color: #112b37;
}

.projeto img{
    width: 480px;
    height: 200px;
}

.projeto h3{
    font-family: var(--fontTextos);
    color: var(--corTitulos);
    font-size: 23px;
    margin: 3px 15px ;
}

.projeto h2{
    font-family: var(--fontTextos);
    color: var(--corTitulos);
    font-size: 23px;
    margin-top: 180px;
    text-align: center;
    
}

.projeto p{
    font-family: var(--fontTextos);
    color: var(--corTextos);
    width: 450px;
    margin: 0px 15px 20px 15px
}

.botoes{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-right: 40px;
}

.botoes a{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 4px solid var(--corTitulos);
    color: var(--corTitulos);
    text-decoration: none;
    font-family: var(--fontTextos);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    transition: 0.5s all;
}

.botoes a:hover{
    background-color: var(--corTitulos);
    color: var(--corFundo02);
}

/*Area do contratar*/

#container-contratar{
    height: 535px;
    background-color: var(--corFundo);
    display: flex;
    justify-content: center;
    gap: 90px;
   
}

.informacoes{
    width: 600px;
    margin: 50px 0px 0px 0px;
    height: 400px;
}

.informacoes h2{
    font-family: var(--fontTextos);
    color: var(--corTitulos);
}

.informacoes p{
    font-family: var(--fontTextos);
    color: var(--corTextos);
}

.informacoes ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}

.informacoes ul li{
    font-family: var(--fontTextos);
    color: var(--corTextos);
}

.informacoes li h4{
    color: var(--corTitulos);
}

.informacoes li i{
    color: var(--corTitulos);
    margin-right: 10px;
}

/*area do formulario*/

.formulario{
    width: 400px;
    margin-top: 50px;
    margin-right: 180px;
}

.linha{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
}

.linha label{
    font-family: var(--fontTextos);
    color: var(--corTitulos);
}

.linha input{
    width: 280px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px;
    transition: border-color 0.3s;
    border: 4px solid var(--corTitulos);
}

input::placeholder{
    font-family: var(--fontTextos);
    font-weight: 400;
    color: rgb(172, 170, 170);
}

.mensagem label{
    font-family: var(--fontTextos);
    color: var(--corTitulos);
}

.mensagem #msg{
    border-radius: 10px;
    border: 4px solid var(--corTitulos);;
    resize: none;
}

input:focus, #msg:focus{
    border-color: var(--corTitulos);
    outline: none;
}

.formulario button{
    background-color: var(--corFundo);
    width: 100px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    border: 4px solid var(--corTitulos);
    color: var(--corTitulos);
    text-decoration: none;
    font-family: var(--fontTextos);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.formulario button:hover{
    background-color: var(--corTitulos);
    color: var(--corFundo02);
}

/*roda pe*/

footer{
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #06161d;
    color: var(--corTextos);
    font-family: var(--fontTextos);
}

footer span{
    color: rgba(134, 134, 134, 0.616);
}
